<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.headwayagent.salesadviser_headwaygms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/headwaygmslogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/headwaygmslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Webview"></activity>
        <activity android:name=".activity.ResetPassword" />
        <activity android:name=".Updatee_profile_Details" />
        <activity android:name=".activity.VerifyOtp" />
        <activity android:name=".Registration_phase_three" />
        <activity android:name=".adapter.Registration_phase_two" />
        <activity android:name=".SalesDashbBoard" />
        <activity android:name=".activity.Activ_Inactiv" />
        <activity android:name=".Registeration_Activity" />
        <activity android:name=".activity.ViewDSRActivity" />
        <activity android:name=".activity.TotalIndirectCommissionActivity" />
        <activity android:name=".activity.TotalDirectCommisionActivity" />
        <activity android:name=".activity.TotalDownlineActivity" />
        <activity android:name=".activity.DeliveryBoyActivity" />
        <activity android:name=".activity.MyProfileActivity" />
        <activity android:name=".activity.ServiceDashBoardActivity" />
        <activity android:name=".activity.SalesDashBoardActivity" />
        <activity android:name=".activity.OtpVerificationActivity" />
        <activity android:name=".activity.ServiceDetailsActivity" />
        <activity android:name=".activity.ServiceManActivity" />
        <activity android:name=".activity.MyOrdersActivity" />
        <activity android:name=".activity.PaymentDeatilsFormActivity" />
        <activity android:name=".activity.CustomerDetailsFormActivity" />
        <activity android:name=".activity.AddressProductDetailsActivity" />
        <activity android:name=".activity.PlaceOrderButtonActivity" />
        <activity android:name=".activity.OrderDetailsActivity" />
        <activity android:name=".activity.CheckInActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>